
.main-bg {
    background-image: url('../img/main-bg.svg.svg');
    background-size: 15vh;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    height: 100vh;
}