
.main-bg {
    background-image: url('../img/main-bg.svg.svg');
    background-size: 10vh;
    background-position: center center;
    color: var(--white-color);
}

.pink-bg {
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    height: 100vh;
}