.intro {
    padding-top: 6rem;
    color: var(--primary-color);
}

.top3-content {
    max-width: 60%;
    max-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top3-title {
    text-transform: uppercase;
}