.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: solid 0.1rem var(--light-gray-color);
    z-index: 1;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: #DC1468;
    transition: 300ms;
    font-weight: bold;
}

.menu ul li a:hover {
    background-color: var(--primary-color);
    border-bottom: solid 0.1rem var(--secundary-color);
    color: var(--white-color);
    transition: all ease-in-out 300ms;
}


.logo {
    height: 4.5rem;
    float: left;
}

.menu-spacing {
    display: block;
    height: 6rem;
}

.main-content h1 a {
    display: flex;
    align-items: center;
}

.menu-content h1 {
    color: #DC1468;
    display: flex;
    align-items: flex-end;

}

.menu-content h1 h2 {
    padding-top: 0.5rem;
    color: #DC1468;
    font-family: 'Portobesto', sans-serif;
    text-transform: capitalize;
    font-size: larger;
}