
.pricing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.pricing-text {
    text-align: center;
    max-width: 60%;
}

.table {
    min-width: 60%;
    overflow: hidden;
    overflow-x: scroll;
}
